@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
/*Début body*/
body {
    font-family: 'Playfair Display', serif;
    background-color: #fcd1d7;
    padding: 0;
    margin: 0;
    color: black;
}

body .page {
    margin: 20px 80px;
}
/*Fin body*/

/*Début nav*/
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #fcd1d7;
    padding: 10px 0px;
}

nav .onglet {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
}

nav .onglet a {
    margin-right: 20px;
    cursor: pointer;
    color: black;
    font-size: 20px;
}

nav .bouton button {
    font-family: 'Playfair Display', serif;
    padding: 10px 20px;
    color: black;
    border: none;
    background-color: #e9b1cd;
    font-size: 18px;
    cursor: pointer;
}

nav .bouton .connexion {
    margin-right: 10px;
}

nav .bouton .inscription {
    margin-right: 10px;
}
/*Fin nav*/

/*Début explication*/
.explica {
    margin: 50px;
    background-color: pink;
    text-align: center;
    padding: 15px;
}
/*Fin explication*/

/*Début pub*/
.ensemble {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    flex-direction:row;
}

.sailor {
    text-align: center;
    background-color: pink;
    margin: 20px;
    width: 20%;
}

.mew {
    text-align: center;
    background-color: pink;
    margin: 20px;
    width: 20%;
}
.ferhat {
    text-align: center;
    background-color: pink;
    margin: 20px;
    width: 20%;
}

.sofiane {
    text-align: center;
    background-color: pink;
    margin: 20px;
    width: 20%;
}

.julie {
    text-align: center;
    background-color: pink;
    margin: 20px;
    width: 20%;
}

.league {
    text-align: center;
    background-color: pink;
    margin: 20px;
    width: 20%;
}

.wwe {
    text-align: center;
    background-color: pink;
    margin: 20px;
    width: 20%;
}

.iim {
    text-align: center;
    background-color: pink;
    margin: 20px;
    width: 20%;
}

img {
    width: 200px;
    margin-top: 20px;
}
/*Fin pub*/

/*Début autre page*/
.navpag {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px;
}
/*Fin autre page*/

/*Début footer */
footer {
    background-color:#e9b1cd;
    padding: 25px 100px;
    color: black;
    background-image: url(../img/footer.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 250px 200px;
}

footer .colonnes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/*Fin footer */

/*Début responsive*/
@media all and (max-device-width: 1050px) {

    footer {
        background-image: none;
    }

    .colonnes {
        display: flex;
        flex-wrap: wrap;
    }

    img {
        display: none;
    }

    .iim {
        background: rgb(255, 201, 102);
    }

    .wwe {
        background: rgb(255, 95, 95);
    }

    .julie {
        background: rgb(255, 255, 113);
    }

    .ferhat {
        background: rgb(108, 108, 255);
    }

    .sofiane {
        background: rgb(160, 160, 160);
    }

    .league {
        background:linear-gradient(45deg, rgba(41, 41, 255, 0.797), rgba(255, 255, 106, 0.721));
    }
    
    .mew {
        background: rgb(255, 227, 232);
    }

    .sailor {
        background: rgb(181, 255, 154);
    }

    nav .onglet {
        display: flex;
        justify-content: left;
    }

    nav .bouton {
        display: flex;
        justify-content: right;
    }
}
/*Fin responsive*/